## EDP 2019 Apriori Association rule (aka basket algorithm)
# data source
https://www.kaggle.com/ankitkatiyar91/apriori-algorithm/data

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [4]:
store_data = pd.read_csv('GroceryStoreDataSet.csv', header = None) 
store_data

         0       1           2           3   4   5   6
0     MILK   BREAD     BISCUIT         NaN NaN NaN NaN
1    BREAD    MILK     BISCUIT  CORNFLAKES NaN NaN NaN
2    BREAD     TEA   BOURNVITA         NaN NaN NaN NaN
3      JAM   MAGGI       BREAD        MILK NaN NaN NaN
4    MAGGI     TEA     BISCUIT         NaN NaN NaN NaN
5    BREAD     TEA   BOURNVITA         NaN NaN NaN NaN
6    MAGGI     TEA  CORNFLAKES         NaN NaN NaN NaN
7    MAGGI   BREAD         TEA     BISCUIT NaN NaN NaN
8      JAM   MAGGI       BREAD         TEA NaN NaN NaN
9    BREAD    MILK         NaN         NaN NaN NaN NaN
10  COFFEE    COCK     BISCUIT  CORNFLAKES NaN NaN NaN
11  COFFEE    COCK     BISCUIT  CORNFLAKES NaN NaN NaN
12  COFFEE   SUGER   BOURNVITA         NaN NaN NaN NaN
13   BREAD  COFFEE        COCK         NaN NaN NaN NaN
14   BREAD   SUGER     BISCUIT         NaN NaN NaN NaN
15  COFFEE   SUGER  CORNFLAKES         NaN NaN NaN NaN
16   BREAD   SUGER   BOURNVITA         NaN NaN NaN NaN
17   BREAD  COFFEE       SUGER         NaN NaN NaN NaN
18   BREAD  COFFEE       SUGER         NaN NaN NaN NaN
19     TEA    MILK      COFFEE  CORNFLAKES NaN NaN NaN

In [6]:
records = [] 
for i in range(0, 20):
    records.append([str(store_data.values[i,j]) for j in range(0, 4) if str(store_data.values[i,j]) != 'nan'])

In [7]:
type(records)
records

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [12]:
result=apriori(records, min_support=0.2, min_confidence=0.8,min_lift = 1)
association_results = list(result)

In [13]:
print(len(association_results))

2

In [14]:
len(association_results[8][0])

IndexError: list index out of range

In [15]:
for item in association_results:
    print (item)
    print("=====================================")

RelationRecord(items=frozenset({'MILK', 'BREAD'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MILK'}), items_add=frozenset({'BREAD'}), confidence=0.8, lift=1.2307692307692308)])
=====================================
RelationRecord(items=frozenset({'TEA', 'MAGGI'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MAGGI'}), items_add=frozenset({'TEA'}), confidence=0.8, lift=2.285714285714286)])
=====================================

## End