In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
# Importing training data set
X_train=pd.read_csv('X_train.csv')
Y_train=pd.read_csv('Y_train.csv')
print("\nShape of train set:", X_train.shape, Y_train.shape)

Shape of train set: (384, 12) (384, 1)

In [3]:
X_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001032,Male,No,0,Graduate,No,4950,0.0,125,360,1,Urban
1,LP001824,Male,Yes,1,Graduate,No,2882,1843.0,123,480,1,Semiurban
2,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56,180,1,Semiurban
3,LP001814,Male,Yes,2,Graduate,No,9703,0.0,112,360,1,Urban
4,LP002244,Male,Yes,0,Graduate,No,2333,2417.0,136,360,1,Urban

In [4]:
Y_train.head()

  Target
0      Y
1      Y
2      Y
3      Y
4      Y

In [5]:
# Importing testing data set
X_test=pd.read_csv('X_test.csv')
Y_test=pd.read_csv('Y_test.csv')
print("\nShape of test set:", X_test.shape, Y_test.shape)

Shape of test set: (96, 12) (96, 1)

In [6]:
X_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002684,Female,No,0,Not Graduate,No,3400,0,95,360,1,Rural
1,LP001907,Male,Yes,0,Graduate,No,14583,0,436,360,1,Semiurban
2,LP001205,Male,Yes,0,Graduate,No,2500,3796,120,360,1,Urban
3,LP001275,Male,Yes,1,Graduate,No,3988,0,50,240,1,Urban
4,LP002455,Male,Yes,2,Graduate,No,3859,0,96,360,1,Semiurban

In [7]:
Y_test.head()

  Target
0      N
1      Y
2      Y
3      Y
4      Y

In [8]:
# Initializing and Fitting a k-NN model
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']],Y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [9]:
# Checking the performance of our model on the testing data set
print("\nAccuracy score on test set :", accuracy_score(Y_test,knn.predict(X_test[['ApplicantIncome','CoapplicantIncome','LoanAmount', 'Loan_Amount_Term','Credit_History']])))

Accuracy score on test set : 0.6145833333333334

In [10]:
# Importing MinMaxScaler and initializing it
from sklearn.preprocessing import MinMaxScaler

min_max=MinMaxScaler()

# Scaling down both train and test data set
X_train_minmax=min_max.fit_transform(X_train[['ApplicantIncome', 'CoapplicantIncome',
                'LoanAmount', 'Loan_Amount_Term', 'Credit_History']])
X_test_minmax=min_max.fit_transform(X_test[['ApplicantIncome', 'CoapplicantIncome',
                'LoanAmount', 'Loan_Amount_Term', 'Credit_History']])

In [11]:
pd.DataFrame({'ApplicantIncome': X_train_minmax[:, 0], 'CoapplicantIncome': X_train_minmax[:, 1], 'LoanAmount': X_train_minmax[:, 2], 'Loan_Amount_Term': X_train_minmax[:, 3], 'Credit_History': X_train_minmax[:, 4]}).head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.059369,0.000000,0.196277,0.729730,1.0
1,0.033791,0.054467,0.192893,1.000000,1.0
2,0.035250,0.100955,0.079526,0.324324,1.0
3,0.118157,0.000000,0.174281,0.729730,1.0
4,0.027001,0.071431,0.214890,0.729730,1.0

In [12]:
pd.DataFrame({'ApplicantIncome': X_test_minmax[:, 0], 'CoapplicantIncome': X_test_minmax[:, 1], 'LoanAmount': X_test_minmax[:, 2], 'Loan_Amount_Term': X_test_minmax[:, 3], 'Credit_History': X_test_minmax[:, 4]}).head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.060938,0.0000,0.091727,0.729730,1.0
1,0.347873,0.0000,0.705036,0.729730,1.0
2,0.037846,0.1898,0.136691,0.729730,1.0
3,0.076025,0.0000,0.010791,0.459459,1.0
4,0.072715,0.0000,0.093525,0.729730,1.0

In [13]:
# Fitting k-NN on our scaled data set
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_minmax,Y_train)

C:\Users\z001msvk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [14]:
# Checking the model's accuracy
accuracy_score(Y_test,knn.predict(X_test_minmax))

0.75

In [18]:
# Importing MinMaxScaler and initializing it
from sklearn.preprocessing import StandardScaler

std_scal=StandardScaler()

# Scaling down both train and test data set
X_train_std_scal=std_scal.fit_transform(X_train[['ApplicantIncome', 'CoapplicantIncome',
                'LoanAmount', 'Loan_Amount_Term', 'Credit_History']])
X_test_std_scal=std_scal.fit_transform(X_test[['ApplicantIncome', 'CoapplicantIncome',
                'LoanAmount', 'Loan_Amount_Term', 'Credit_History']])

In [19]:
pd.DataFrame({'ApplicantIncome': X_train_std_scal[:, 0], 'CoapplicantIncome': X_train_std_scal[:, 1], 'LoanAmount': X_train_std_scal[:, 2], 'Loan_Amount_Term': X_train_std_scal[:, 3], 'Credit_History': X_train_std_scal[:, 4]}).head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,-0.037697,-0.599846,-0.219389,0.272293,0.408868
1,-0.428032,0.103374,-0.246028,2.097087,0.408868
2,-0.405760,0.703571,-1.138429,-2.464897,0.408868
3,0.859432,-0.599846,-0.392541,0.272293,0.408868
4,-0.531656,0.322390,-0.072875,0.272293,0.408868

In [20]:
pd.DataFrame({'ApplicantIncome': X_test_std_scal[:, 0], 'CoapplicantIncome': X_test_std_scal[:, 1], 'LoanAmount': X_test_std_scal[:, 2], 'Loan_Amount_Term': X_test_std_scal[:, 3], 'Credit_History': X_test_std_scal[:, 4]}).head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,-0.411170,-0.624105,-0.641526,0.289455,0.430331
1,1.218050,-0.624105,2.842384,0.289455,0.430331
2,-0.542289,0.840876,-0.386108,0.289455,0.430331
3,-0.325506,-0.624105,-1.101280,-1.626934,0.430331
4,-0.344300,-0.624105,-0.631310,0.289455,0.430331

In [21]:
# Fitting k-NN on our scaled data set
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_std_scal,Y_train)

C:\Users\z001msvk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [22]:
# Checking the model's accuracy
accuracy_score(Y_test,knn.predict(X_test_std_scal))

0.71875