In [12]:
import numpy as np
import pandas as pd


# Importing the dataset 
dataset = pd.read_csv('student_list.csv')

#visualizing data set
#1. Dataset details
details = dataset.describe()
print(details)

              Age        Year
count  317.000000  319.000000
mean    21.870662    2.241379
std      1.780429    0.991178
min     19.000000    1.000000
25%     20.000000    1.000000
50%     22.000000    2.000000
75%     23.000000    3.000000
max     26.000000    4.000000

In [13]:
datasetChecklist = dataset.isnull().any(axis = 1)
#3. List the rows has 1 or more colums Nan
nanRows = dataset[datasetChecklist]
print(nanRows)

                    Name Dept Gender   Age  Year Roll No.
5            AMIT SAXENA   CE      M   NaN   1.0    Y9077
7            ANURAG DASH   EE      M   NaN   1.0    Y9115
10   BANOTHU KESHAVA RAO  CHE      M   NaN   1.0    Y9169
19           NAVIN KUMAR   AE      M  19.0   NaN    Y9361
43      ANSHUKA ABHISHEK   EE      F   NaN   1.0    Y9106
53          KUNAL MISHRA  NaN    NaN   NaN   NaN    Y9299
103         SHIVAM KUMAR   CE      M  22.0   NaN    Y9552
188         ABHISHEK RAJ   CE      M   NaN   4.0    Y9030
193        ANSHUL BANSAL   EE      M  22.0   NaN    Y9107
233  BHOLE SHRIKANT ANIL   CE      M   NaN   3.0    Y9172
237       KARAN BAGADIYA   AE      M  22.0   NaN    Y9275
259     AJEET KUMAR SHAH   CE      M   NaN   1.0    Y9048
287        UDIT BHARGAVA   EE      M   NaN   1.0    Y9628
306      M M SOHEL TARIR   AE      M  26.0   NaN    Y9310
311     PRASHANT KHOKHAR   EE      M  25.0   NaN    Y9427

In [14]:
#4. Remove emptyRow example index 53
dataset = dataset.drop([53])
#5. Drop unwanted coulumn
dataset = dataset.drop('Roll No.', axis=1)
print(dataset)

                            Name Dept Gender   Age  Year
0              SUNIL KUMAR MEENA   EE      M  19.0   1.0
1    AADITYA BHARAT KUMAR PANDYA   ME      M  19.0   1.0
2                 ABHISHEK ANAND   AE      M  20.0   1.0
3                ABHISHEK TIWARI   EE      M  19.0   1.0
4                     AMAN GUPTA   EE      M  19.0   1.0
5                    AMIT SAXENA   CE      M   NaN   1.0
6                    ANKIT ANAND   ME      M  19.0   1.0
7                    ANURAG DASH   EE      M   NaN   1.0
8               ARPIT SRIVASTAVA   CE      M  19.0   1.0
9                     ATUL KUMAR   CE      M  19.0   1.0
10           BANOTHU KESHAVA RAO  CHE      M   NaN   1.0
11                 CHANDAN KUMAR   CE      M  19.0   1.0
12           DIGRAJ SINGH CHAHAL   ME      M  19.0   1.0
13                   GOURAV GARG   ME      M  19.0   1.0
14               KONANKI SIVARAM   CE      F  19.0   1.0
15                 KUMAR SHUBHAM   ME      M  19.0   1.0
16                MADHAV GOSWAMI   CE      M  19.0   1.0
17               MD. SHADAB ALAM   EE      M  19.0   1.0
18                  MUDIT DHAKAR   ME      M  19.0   1.0
19                   NAVIN KUMAR   AE      M  19.0   NaN
20                   NITISH ARYA   AE      M  20.0   1.0
21                   PAWAN KUMAR   ME      M  19.0   1.0
22          PRATAP BHANU SOLANKI   EE      M  19.0   1.0
23                 RAGHAV MISHRA   ME      M  20.0   1.0
24             ROHIT KUMAR SINHA   EE      M  19.0   1.0
25                  SAMBHAV JAIN   AE      M  20.0   1.0
26               SAURABH CHOKHRA   EE      M  19.0   1.0
27        SHIRJON SHALKU HANSDAH   EE      M  19.0   1.0
28                 SHUBHAM GUPTA   CE      M  19.0   1.0
29        SOUMITRA NARAIN PATHAK   CE      M  19.0   1.0
..                           ...  ...    ...   ...   ...
296                 ANUPAM KUMAR   EE      M  24.0   4.0
297                 ARPIT INDORA   EE      M  24.0   4.0
298               ASUTOSH TIWARI   EE      M  24.0   4.0
299           BOYINA PRUDHVI RAJ   AE      M  25.0   4.0
300               DHEERAJ SACHAN   EE      M  24.0   4.0
301                 GAURAV GUPTA   EE      M  24.0   4.0
302          GOLLU DIVAKAR NAIDU   ME      M  24.0   4.0
303                   JIMI KUMAR   ME      M  24.0   4.0
304              KAVISH AGGARWAL   EE      M  24.0   3.0
305               KUMAR RITIKESH   EE      M  24.0   3.0
306              M M SOHEL TARIR   AE      M  26.0   NaN
307                MD. ALIF KHAN   AE      M  26.0   3.0
308           MRITYUNJAY KOTHARI   ME      M  25.0   4.0
309                  NAVEEN GOEL   CE      M  20.0   1.0
310                 NITESH KUMAR   EE      M  25.0   4.0
311             PRASHANT KHOKHAR   EE      M  25.0   NaN
312            PUSHKAR CHAUDHARY   EE      M  25.0   4.0
313                   RAJAT JAIN   ME      M  25.0   4.0
314                  ROHIT KUMAR   CE      M  20.0   1.0
315                 SAKSHI GOYAL   CE      F  19.0   1.0
316               SAURABH BANSAL   EE      M  26.0   3.0
317              SHIKHAR PRADHAN   ME      M  25.0   4.0
318             SHUBHAM CHECHANI   EE      M  26.0   4.0
319       SONAJE ROSHAN RAJENDRA   CE      F  21.0   2.0
320        SUSHANT MANI TRIPATHI   CE      M  25.0   3.0
321             UJJWALA S AVINAW   CE      F  24.0   4.0
322                VIDIT JHINDAL   CE      M  23.0   3.0
323        VISHESH KUMAR PANJABI   CE      M  23.0   3.0
324              ABHISHEK SHUKLA  CHE      M  20.0   1.0
325              GAOUTAMI PARMAR  CHE      F  19.0   1.0

[325 rows x 5 columns]

In [15]:
#load dataset to a object, If all the numeric can be visualised as matrix
X = dataset.iloc[:, 1:5].values
print(X)
#imputing nan
Y = dataset[datasetChecklist]
# group work here
print(Y)

[['EE' 'M' 19.0 1.0]
 ['ME' 'M' 19.0 1.0]
 ['AE' 'M' 20.0 1.0]
 ...
 ['CE' 'M' 23.0 3.0]
 ['CHE' 'M' 20.0 1.0]
 ['CHE' 'F' 19.0 1.0]]
                    Name Dept Gender   Age  Year
5            AMIT SAXENA   CE      M   NaN   1.0
7            ANURAG DASH   EE      M   NaN   1.0
10   BANOTHU KESHAVA RAO  CHE      M   NaN   1.0
19           NAVIN KUMAR   AE      M  19.0   NaN
43      ANSHUKA ABHISHEK   EE      F   NaN   1.0
103         SHIVAM KUMAR   CE      M  22.0   NaN
188         ABHISHEK RAJ   CE      M   NaN   4.0
193        ANSHUL BANSAL   EE      M  22.0   NaN
233  BHOLE SHRIKANT ANIL   CE      M   NaN   3.0
237       KARAN BAGADIYA   AE      M  22.0   NaN
259     AJEET KUMAR SHAH   CE      M   NaN   1.0
287        UDIT BHARGAVA   EE      M   NaN   1.0
306      M M SOHEL TARIR   AE      M  26.0   NaN
311     PRASHANT KHOKHAR   EE      M  25.0   NaN

/var/ml/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """